.todo-container {
    min-height: 100px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-control {
    flex:1;
    display: flex;
    gap: 5px;
}

.todo-input {
    width: 60%;
}

.todo-select {
    flex:1;
}

.todo-add {
    flex :1
}

.todo-content {
    margin-top: 20px;
    padding: 0 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-priority {
    width: 100px;
    display: flex;
    justify-content: center;
}