.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.container {
    width: 1000px;
    height: 90%;
}

.title {
    text-align: center;
    font-size: 30px;
}


